body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
}
.container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    gap: 20px;
    max-width: 1200px;
}
.card {
    background: white;
    border-radius: 8px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    padding: 15px;
    text-align: center;
}
img {
    max-width: 100%;
    height: auto;
}
h3 {
    margin: 10px 0;
}
.btn{
    background-color: #797b73; 
}
.btn:link, .btn:visited {
    background-color: #f44336;
    color: white;
    padding: 14px 25px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
  }
  
  .btn:hover, .btn:active {
    background-color: red;
  }
  

  .pokemon {
    border: 1px solid #ccc;
    padding: 10px;
    margin: 10px;
    text-align: center;
    cursor: pointer;
}
